/* CÓDIGO CRIADO PARA USO EXCLUSIVO PARA FORUM MADNEZZ */
.tab-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
}

.tab-buttons label {
    cursor: default;
    border-bottom: 1px solid #ffff;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    padding: 5px 15px;
}

.tab-buttons label:hover {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content.active {
    display: block;
}
