/* CÓDIGO CRIADO PARA USO EXCLUSIVO PARA FORUM MADNEZZ */
.tab-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
}

.tab-buttons label {
    margin: 0 10px;
    cursor: default;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    padding: 10px;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #3c3c3c;
    white-space: pre-line;
    color: #c9c9c9;
    font-size: 13.5px !important;
}

.tab-content.active {
    display: block;
}

.tab-content x {
    padding: 7px;
    border: 1px solid #333;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ddd;
    font-size: 10px !important;
}

.tab-content h1 {
    font-family: canvas; 
    font-size: 18px; 
    text-transform: uppercase; 
    color: #fff; 
}

.tab-content b {
    color: var(--cor-grupo);
    font-weight: bold;
}

.gridded {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 35px;
}
.oficial-info {
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #bbb;
    padding: 7px;
    text-align: left;
}
.oficial-info i {
    color: #999;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 900;
    font-style: normal;
}

